*{margin:0; padding:0; outline: none !important;}
body{font-family:"微软雅黑"; overflow-x: hidden}
.clearfix:after{height:0; display:block; content:'.'; visibility:hidden; clear:both;}
ul,li,p,h1,h2,h3,h4,h5,h6,form,label,aside,section,header,footer,dd,dt,dl,fieldset,legend,nav,article,hgroup{display:block;}
ul{list-style:none;}
img{border:0;}
a{text-decoration:none; outline:none;}
.ellisis{white-space:nowrap;  text-overflow:ellipsis;  overflow:hidden; }
a:link{text-decoration:none; outline:none;}
.ft12{ font-size:12px;}
.ft14{ font-size:14px;}
