header{background:url("../img/bg2.jpg")no-repeat center top;background-position: 50% 70%;background-size: cover; }
header .mainNav{margin-bottom:0;position: relative;}
header .mainNav .container{width: 100%; padding-left:20px; padding-right: 20px;}
header .mainNav .logo{margin-left:15px; margin-top:10px;}
header .dao{position: absolute; right:30px; top:40px; z-index:100}
header .dao i{font-size:30px;}
header .mainMenuNav{margin-top:35px; margin-bottom: 80px;}
header .mainMenuNav li{margin-right: 20px; height:28px; }
header .mainMenuNav li a{display: block; font-weight:bolder;background: rgba(0,0,0,0.2); transition: all .5s; height:28px; text-align:center;line-height: 28px; margin:0; padding: 0;font-size:14px; color:#fff;}
header .mainMenuNav li:nth-of-type(1){width:140px;}
header .mainMenuNav li:nth-of-type(2){width:120px;}
header .mainMenuNav li:nth-of-type(3){width:110px;}
header .mainMenuNav li:nth-of-type(4){width:90px;}
header .mainMenuNav li:nth-of-type(5){width:80px;}
header .mainMenuNav li:nth-of-type(6){width:100px;}
header .mainMenuNav li a:hover{background:#F9EA48; color: #54BDFF;}
@media screen and (max-width:768px) {
    header .mainNav .container{padding-left:10px; padding-right: 10px; padding-bottom:40px;}
    header .hang{position: fixed; right:30px; top:40px; z-index:10000;}
    header .hang i{font-size:30px;}
    header .NPEB{z-index:1;}
    .mainMenuNav{width:110%;z-index:1000 !important; height:110% !important;  position: fixed !important;margin-top:0 !important; top:0 !important; right:0; background:#fff !important;padding-top: 40px !important;}
    .mainMenuNav li{width:100% !important; height:40px !important;}
    .mainMenuNav li a{ display: block; font-size:18px !important; background: #fff !important;color: #22aacc !important; font-weight: normal!important; text-align: left!important; padding-left:90px !important; width:100% !important;height:40px!important; line-height:40px!important; }
    .banner .container{padding-bottom:50px !important;}
}
/*banner*/
.banner .container{width: 100%; padding-left: 30px; padding-bottom: 200px;}
.banner .hawn h3{font-size: 20px; color: #555566; font-weight: bolder;margin-top:35px; margin-bottom: 20px;}
.banner .hawn p{margin-bottom: 25px; line-height: 22px;}
/*footer*/
footer{background:#54bdff; line-height:78px; position: relative; bottom: 0;}
footer .container{width: 100%;}
footer .logo>a:nth-of-type(1){margin-right:80px;}
footer .logo .faq a{display: inline-block; font-size: 12px; color: #fff; font-weight: bolder; margin-right: 25px;}
footer .logo .faq a:nth-last-child(1){margin-right: 0;}









